extends layout

block content
  h1= title
  p Welcome to Hunter's CRM: Use the form below to enter Accounts. Click the link below to view all Accounts that have been entered.
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h3 Create Accounts

        form(method='GET' action="/getAccounts")
          div.form-group
            label(for='name') Account Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Primary Contact Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='address') Address:
            input#favoriteBook.form-control(type='text', placeholder='123 Main St Cambridge, MA 01253' name='address')
          div.form-group
            label(for='phone') Phone:
            input#pw.form-control(type='text' name='phone')
          div.form-group
            label(for='owner') Account Owner:
            input#pw.form-control(type='text' name='owner')
          button.btn.btn-primary(type='submit') Create Account
  br
  if accountList.length > 0
    table
      thead
        tr
          th Name
          th Email
          th Address
          th Phone
          th Owner
      tbody
        each val in accountList
          tr
            td #{val.name}
            td #{val.email}
            td #{val.address}
            td #{val.phone}
            td #{val.owner}
